// Settings

$spot-distance: 115px; // distance of the answer spots displayed beside the slider



.text-centered{
    text-align: center;
}

.eo-button{
    margin-bottom:50px;
}



// Slick slider
//==============================================================================
.slick-slide{
    padding-top: 70px;
}
.slick-arrow{
    position: absolute;
    z-index: 2;
    display: none !important;
}
.slick-prev{
    top:0;
    left:0;
}
.slick-next{
    top:0;
    right:0;
}


// EO Slider
//==============================================================================

.eo-slider{

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;



    @media #{$small-only} {
        margin-top: 75px;
        margin-bottom: 70px;
	}

    .eo-bar{
        position: relative;

        //background: #2783cc; /* Old browsers */
        background: -moz-linear-gradient(bottom, #2783cc 0%, #389fee 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(bottom, #2783cc 0%,#389fee 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to top, #2783cc 0%,#389fee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#389fee', endColorstr='#2783cc',GradientType=0 );

        box-shadow:
          0 1px 2px #000, /*bottom external highlight*/
          0 -1px 1px #666, /*top external shadow*/
          inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
          inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/

        border-radius: 20px;
        display: inline-block;
        padding:3px;
        padding-left:15px;
        padding-right:15px;
        text-align: center;

        @media #{$small-only} {
            padding-top:15px;
            padding-bottom:15px;
            padding-left: 9px;
            padding-right: 9px;
    	}

        .eo-bar-rail {
            position: absolute;
            background: white;
            height: 3px;
            right: 20px;
            left: 20px;
            top: 12px;

            @media #{$small-only} {
                width: 3px;
                left: 13px;
                top: 20px;
                bottom: 20px;
                height: auto;
            }
        }
    }

    .eo-spot{
        width:12px;
        height: 12px;
        border-radius: 10px;
        background: white;
        display: inline-block;
        margin-right:$spot-distance;

        @media #{$small-only} {
    		margin-right:0;
            margin-bottom:$spot-distance;
            display: block;
    	}


    }

    .eo-spot-hollow{

        width:12px;
        height: 12px;
        border-radius: 10px;
        background: white;
        display: inline-block;
        margin-right:$spot-distance;

        background: #2F90DC !important;
        border: #FFF 2px solid;
        z-index: 40;
        position: relative;

        @media #{$small-only} {
    		margin-right:0;
            margin-bottom:$spot-distance;
            display: block;
    	}

    }

    .last{
        margin-right:0;

        @media #{$small-only} {
            margin-bottom:0;
        }

    }

    .eo-handle{
        padding: 10px;
        height: 57px;

        .slider{
            background: none;
        }

        .slider-fill{
            background: none;
        }

        .slider-handle{
            //border-radius: 10px;
            width:20px;
            height:31px;
            background:url(../images/pointer.png);

            @media #{$small-only} {
                -ms-transform: rotate(-90deg); /* IE 9 */
                -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
                transform: rotate(-90deg);
            }

        }

        @media #{$small-only} {
    		float: left;
    	}


    }

    .eo-drag-handle{
        position: absolute;
        width:10px;
        height:10px;
        background: green;
        margin-top: -10px;
    }

    .eo-tooltip {
        position: absolute;
        background: rgba(255, 255, 255, 0.37);
        border-radius: 10px;
        width: 120px;
        margin-left: -50px;
        margin-top: 45px;
        color: white;
        padding:6px;

        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;

        h2{
            font-family: 'Fredoka One', cursive;
            font-size: 18px;
            //font-weight: bold;
        }

        p{
            font-size: 12px;
            line-height: 15px;
        }


        @media #{$small-only} {
            margin-left: 48px;
            width:210px;
            margin-top: -56px;
        }


    }

}


@include mui-series {
  .thing-one {
  @include mui-queue(1s, 0s, fade);
  }

}
