
.films{

    height:300px;
    margin-top: 60px;

    .film{
        width:80px;
        height:80px;
        border-radius: 80px;
        border: #FFF 1px solid;
        float:left;
        margin-right: 20px;
    }
}
