
body,html{
    color:white;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 20px;
    // font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Fredoka One', cursive;
}

p{
    text-align: center;
}

.eo-slide-last{
    h1{
        text-align: left;
        font-size: 34px;

    }

    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: bold;
    }

    p{
        text-align: left;
    }
}
